body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233142;
    color: #e3e3e3;
}

a {
    color: #e3e3e3;
}

h1 {
    color: #f95959;
}

h2 {
    color: #f95959f1;
}

h3 {
    color: #cb4848;
}